<html>
<!-- Por simplicidad se proporciona todo en un solo fichero

  Esta no suele ser la forma habitual de crear una aplicación con AngularJS
  sino que se tendría en el fichero principal .html simplemente un "esqueleto"
  que incluye otros ficheros que contienen separadamente:

   - Las hojas de estilo CSS
   - El código javascript

  Este segundo suele estar estructurado a su vez en varios ficheros
  para proporcionar los controladores de las diferentes "vistas"
-->

    <meta charset="utf-8">
    <head>
    <!-- Como CSS base usamos Twitter Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Como biblioteca para manejar el DOM y hacer peticiones http al servidor
         usamos AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <!-- Modificaciones al Bootstrap básico -->
    <style>
    .done-true {
      text-decoration: line-through;
      color: grey;
    }
    #main {
        width: 50%;
        margin: 10em auto 1em auto;
        border: solid 1pt #ccc;
        padding: 2em;
        box-shadow: 10px 10px 5px #888888;
    }
    #servidor {
        padding: 4pt;
    }
    #credenciales {
        border-top: dashed 1pt #ddd;
        padding-top: 2em;
    }
    </style>
<script>
// Dentro del html principal incluimos el controlador AngularJS
// Como hemos dicho más arriba, esta no suele ser la técnica habitual
// sino que este código debería estar en un fichero .js aparte
angular.module('todoApp', [])
.controller('TodoListController', function($http, $q) {
    var recurso_lista = "/lista/v1/tareas";    // Ruta al recurso
    var todoList = this;                       // contexto en que guardar variables

    // Inicializamos algunas variables "globales" de este contexto
    todoList.servidor = "";   // Servidor REST que proporciona la API de manejo de listas
    todoList.tareas = [];      // Lista inicialmente vacía (hasta que llegue una del servidor)
    todoList.servidoriNoResponde=false;
    todoList.credenciales = { usuario: "", clave: "", done: false, mal: false }

    todoList.setCredenciales = function () {
        if (todoList.credenciales.clave && todoList.credenciales.usuario) {
           $http.defaults.headers.common.Authorization =
              'Basic ' + btoa(todoList.credenciales.usuario +
              ':' + todoList.credenciales.clave);
           // Para ver si se puso bien la clave, intentemos un acceso
           $http.head(todoList.servidor + recurso_lista)
           .success(function() {
               todoList.credenciales.done = true;
               todoList.credenciales.mal = false;
           })
           .error(function() {
               todoList.credenciales.done = false;
               todoList.credenciales.mal = true;
           })
           .then(function()  {
               // Tras intentar la petición, si todo
               // ha ido bien, poblamos la lista
               // con la respuesta de ese servidor
               if (!todoList.credenciales.mal)
                  todoList.getLista();
           });
       }
    };

    // Obtiene del servidor la lista de tareas, y la almacena
    // en la variable todoList.todos, sobreescribiendo la que había
    todoList.getLista = function () {
        // Las peticiones asíncronas se hacen a través del método $http
        $http.get(todoList.servidor + recurso_lista)
        .success(function(data){   // callback en caso de éxito
            todoList.tareas=data.tareas;
            todoList.servidorNoResponde = false;
        })
        .error(function(data, status) {    // callback en caso de error
            console.log("Error al obtener la lista del servidor", data);
            todoList.todos = [];
            if (status==403) {
                todoList.credenciales.mal = true;
                todoList.credenciales.done = false;
            } else {
                todoList.servidorNoResponde = true;
            }
        });
    };

    // Esta función es llamada cuando el usuario
    // pulsa el botón "Añadir" de la página)
    todoList.addTarea = function() {
        // Creamos una nueva tarea, usando como descripción lo que el usuario
        // ha escrito (que está en todoList.todoText) y como valor para `completada` false
        tarea = { descripcion: todoList.todoText, completada: false };

        // Guardamos esta tarea en el servidor (POST a la URL apropiada)
        $http.post(todoList.servidor + recurso_lista, tarea)
        .success(function(data){
            // Sólo cuando recibamos la confirmación de éxito añadimos
            // la tarea a la lista. Además, la tarea que añadimos tendrá
            // ya un campo "uri" por si queremos manipularla después
            // Ese campo no es visible para el usuario porque el template
            // (la parte HTML) no lo usa
            todoList.tareas.push(data.tarea);
        })
        .error(function(data){
            // Si se produce un error durante el POST lo volcamos a consola
            console.log("Error durante el POST: ", data);
        });

        // Borramos la caja de texto para que el usuario pueda escribir otra
        todoList.todoText = "";
    };

    // Función que cuenta cuántas tareas no están completadas
    todoList.remaining = function() {
      var count = 0;
      angular.forEach(todoList.tareas, function(tarea) {
        count += tarea.completada ? 0 : 1;
      });
      return count;
    };

    // Función que elimina del servidor todas las tareas completadas
    todoList.purge = function() {
      // Implementar el bucle tiene bastante miga, porque cada llamada
      // a DELETE es asíncrona y si queremos esperar hasta que todas
      // ellas hayan terminado hace falta usar el objeto $q. Este asunto
      // de los "futures" y "promises" es complidado
      var peticiones = []; // peticiones DELETE realizadas
      angular.forEach(todoList.tareas, function(tarea) {
          if (tarea.completada) {
              peticiones.push($http.delete(tarea.uri)
              .success(function (data) {
                  console.log("Exito en DELETE: ", data);
              })
              .error(function (data) {
                  console.log("Error en DELETE: ", data);
              }));
          }
      });
      // Una vez lanzadas todas las peticiones asíncronas, esperaremos
      // a que todas hayan terminado antes de pedir al servidor que nos
      // envíe la nueva lista de tareas (en la que ya no estarán las eliminadas)
      $q.all(peticiones)  // cuando todas hayan terminado
      .then(function() {  // ENTONCES se ejecutará esto
          todoList.getLista();
      });
    };

    // Función que elimina una tarea del servidor y recarga la lista de tareas
    todoList.deleteTask = function (tarea) {
      $http.delete(tarea.uri)
      .success(function (data) {
          todoList.getLista();
      })
      .error(function (data) {
          console.log("Error en DELETE: ", data);
      });
    };

    // Función que envía al servidor el cambio de estado en "completada"
    todoList.checkTask = function (tarea) {
        $http.put(tarea.uri, tarea)
        .success(function (data) {
          tarea = data.tarea;
        })
        .error(function (data) {
            console.log("Error en PUT", data);
        });
    };

    // Para manejar la edición en la descripción de una tarea tenemos
    // varias funciones. La primera es llamada cuando el usuario hace
    // doble click en la descripción de una tarea, que pasa a estar
    // en un estado editable
    todoList.editDescripcion = function (tarea) {
      tarea.editando = true;
    };

    // Esta es llamada si el foco abandona la edición (el usuario pincha
    // en otra parte de la página, pulsa Tab, cambia de ventana...)
    todoList.finEdit = function (tarea) {
        if (tarea.editando)
           todoList.actualizar(tarea);
    };

    // Y esta si el usuario pulsa Enter dentro de la caja de edición
    // Aquí es cuando se envía al servidor
    todoList.actualizar = function (tarea) {
      tarea.editando = false;
      $http.put(tarea.uri, tarea)
      .success(function (data) {
         tarea = data.tarea;
      })
      .error(function (data) {
          console.log("Error en PUT", data);
      });
    };


    // Finalmente, la función que asigna la URL del servidor
    // con que queremos conectar (el que proporciona la API REST)
    todoList.changeServer = function () {
        todoList.servidor = todoList.txtServidor || "";
        // Tras cambiar de servidor, le pedimos la lista de tareas
        todoList.getLista();
    };
  });
  </script>
  </head>

<!-- Ahora viene el HTML que es una especie de "template" en el que
   AngularJS rellena con los valores de las variables del contexto,
   es decir, la lista de tareas, el nombre del servidor, etc...

   Este HTML es más complejo de lo que cabría esperar debido al uso de
   Twitter Bootstrap que obliga a la proliferación de <div> anidados para
   conseguir el estilo deseado en la página.
-->
<body>
<div id="main">
    <div ng-app="todoApp">
      <div ng-controller="TodoListController as todoList">
        <div class="panel panel-default" ng-show="todoList.credenciales.done">
          <div class="panel-heading">
              <h2>Lista de tareas</h2>
              <span>Pendientes {{todoList.remaining()}} de {{todoList.tareas.length}}
              </span>
              (<a href="" ng-click="todoList.purge()">Eliminar</a> tareas completadas)
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li ng-repeat="tarea in todoList.tareas">
              <div class="input-group">
                  <div class="input-group-addon">
                    <input type="checkbox" ng-click="todoList.checkTask(tarea)"
                           ng-model="tarea.completada">
                  </div>
                  <div class="form-control done-{{tarea.completada}}"
                       ng-hide="tarea.editando"
                       ng-dblclick="todoList.editDescripcion(tarea)">
                       {{tarea.descripcion}}
                  </div>
                  <form ng-submit="todoList.actualizar(tarea)">
                  <input ng-show="tarea.editando" ng-blur="todoList.finEdit(tarea)"
                         ng-model="tarea.descripcion" autofocus
                         class="form-control" type="text">
                  </form>
                  <div class="input-group-addon">
                     <a href="" ng-click="todoList.deleteTask(tarea)"
                        class="btn-xs btn-danger">x</a>
                  </div>
                </div>
              </li>
            </ul>
           <form ng-submit="todoList.addTarea()" class="form-inline">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">+</span>
                <input type="text" ng-model="todoList.todoText"  size="30"
                       class="form-control"
                       placeholder="Escribe aquí una tarea nueva">
              </div>
           </form>
          </div>
      </div>
      <div id="servidor">
            <form ng-submit="todoList.changeServer()" class="form-horizontal">
                <div class="form-group">
                    <label for="inputServer" class="col-sm-2 control-label">
                        Servidor
                    </label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="todoList.txtServidor" size="30"
                        class="form-control" id="inputServer" >
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control btn btn-default"
                        type="submit" value="Cargar">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="alert alert-danger" ng-show="todoList.servidorNoResponde">
                        Este servidor no responde o envía respuestas erróneas
                     </div>
                    <p>
                    Deja en blanco para usar como servidor REST el mismo que sirvió esta página.
                    </p>
                    <p>
                    Escribe <code>http://ip:puerto</code> para conectar con otro servidor via REST
                    </p>
                </div>
            </div>
      </div>
      <div id="credenciales" ng-hide="todoList.credenciales.done">
        <form class="form-horizontal" ng-submit="todoList.setCredenciales()">
          <div class="form-group">
            <label for="inputUser" class="col-sm-2 control-label">Usuario</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputUser"
                     ng-model="todoList.credenciales.usuario"
                     placeholder="Usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Contraseña</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword"
                    ng-model="todoList.credenciales.clave"
                    placeholder="Contraseña">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
              <button type="submit" class="btn btn-default">Entrar</button>
            </div>
          </div>
      </form>
            <div class="alert alert-danger"
                ng-show="todoList.credenciales.mal">
                Las credenciales son incorrectas
            </div>

      </div>

      </div>
    </div>
</div>
</body>
</html>